<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <header class="masthead">

      <div class="masthead-inner" align="center">

      <h2><a href="/chrisg/">Tweets</a></h2>

        <div class="colophon">
          <ul class="colophon-links">
            <li>
              <a href="/">Home</a>
            </li>
          </ul>
        </div>
		</div>
      </div>
    </header>

    <div class="content uicontainer">

      {{ content }}

	     <div class="footer">
		    <ul>
		    	<li><a href="/">Home</a></li>
		    </ul>
		</div>

    </div>

  </body>
</html>
